<div class="container spacer">
    <div class="container">
        <button routerLink="/about" class="btn btn-primary">About</button>
        <button routerLink="/contacts" class="btn btn-primary">Contacts</button>
        <button routerLink="/new-contact" class="btn btn-primary">Nouveau Contacts</button>

    </div>
    <div class="container spacer">
        <router-outlet></router-outlet>
    </div>
</div>



<!--
<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des contacts</div>
        <div class="panel-body">
            <p>Name : <strong>{{infos.name}}</strong></p>
            <p>Email : <strong>{{infos.email}}</strong></p>
        </div>
    </div>
</div>
-->






















<!--<div class="container spacer">-->
    <!--<div class="container">-->
        <!--<button routerLink="/about" class="btn btn-primary">About</button>-->
        <!--<button routerLink="/contacts" class="btn btn-primary">Contacts</button>-->
    <!--</div>-->
    <!--<div class="container spacer">-->
        <!--<router-outlet></router-outlet>-->
    <!--</div>-->
<!--</div>-->
